@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Navigation

<PageTitle>BlazorAuthClient</PageTitle>

<div class="page">

    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <MudThemeProvider />
        <MudPopoverProvider />
        <MudDialogProvider />
        <MudSnackbarProvider />

        <MudLayout>
            <MudMainContent>
                @Body
            </MudMainContent>
        </MudLayout>
    </div>
</div>

@code {
    private bool isAuthenticated { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        // Если пользователь не аутентифицирован, и мы не на странице /login
        if (!authState.User.Identity.IsAuthenticated &&
            !Navigation.Uri.EndsWith("/login", StringComparison.OrdinalIgnoreCase))
        {
            Navigation.NavigateTo("/login", true);
        }
    }
}
