@page "/advertisers"
@using AdminPanel.Services
@using AdminPanel.Shared.Models
@using Microsoft.AspNetCore.Components.Authorization
@using System.Net.Http.Headers
@inject ILoadEntityService LoadEntityService



<div class="advertisers-container">
    <div class="header">
        <h3>Advertisers</h3>
    </div>

    @if (advertisers == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var advertiser in advertisers)
                {
                    <tr>
                        <td>@advertiser.Id</td>
                        <td>@advertiser.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@code {
    private IEnumerable<Advertiser> advertisers;

    protected override async Task OnInitializedAsync()
    {
        advertisers = await LoadEntityService.LoadAdvertisers();
    }
}

